body {
}
.table-striped tr td img{
    width:250px;
}

.table-striped tr td i.fa.fa-trash{
    position:absolute;
    color: #fff;
    
    top: 7%;
    left:69%;
    border-radius: 0px;
    transition:all 0.5s ease-in-out;
    font-size:1.875em;
    
}
/*tr td i.fa.fa-trash{
    
}*/
/*color:#eb4800;*/
/*text-align:center;*/
/*display:none;*/
/*background: #eb4800;*/
/*span.removeItem*/