@{
    ViewBag.Title = "Home Page";
}
<!--Carousel-->
<section>
    <div class="flexslider">
        <ul class="slides">
            <li>
                <img src="~/images/carousel/banner-1.jpg" />
            </li>
            <li>
                <img src="~/images/carousel/banner-2.jpg" />
                <div class="flex-caption">
                    <h1 class="midseason">Mid Season Sale</h1>
                    <p class="sales">
                        <span>Upto 50% Off</span>
                    </p>
                    <p class="selectedstore">
                        <span>On Selected Items online and Store</span>
                    </p>
                </div>

            </li>
        </ul>
    </div>
</section>
<!--header-->
<section class="header-text">
    We Stand for top quality templates. Our genuine developers always optimized bootstrap commercial templates.<br />
    Dont miss to use our cheap and best bootstrap templates
</section>
<!--Main Content-->
<section class="main-content" style="background:#fff;">
    @*<div class="row">*@
    <h4 class="title-main">
        <span class="pull-left">
            <span class="title-first">Feature <strong class="title-second">Product</strong></span>
        </span>
        <span class="pull-right">
            <a href="#myCarousel" class="left" data-slide="prev">

            </a>
            <a href="#myCarousel" class="right" data-slide="next">

            </a>
        </span>
    </h4>
    <div class="carousel slide" id="myCarousel" data-ride="carousel">
        @*<ol class="carousel-indicators">
            <li data-target="myCarousel" data-slide-to="0" class="active">
            </li>
            <li data-target="myCarousel" data-slide-to="1"></li>
            @*<li data-target="myCarousel" data-slide-to="2"></li>*@
        @*</ol>*@
        <div class="form-horizontal">
            <div class="carousel-inner">

                <div class="item active">
                    <div class="form-group">
                        <div class="thumbnails-index">
                            <div class="col-md-3">
                                <div class="productbox">
                                    <a href="#">
                                        <img src="~/images/ladies/1.jpg" />
                                    </a>
                                    <a href="#" class="title-product">Ut wisi enim ad</a>
                                    <br />
                                    <a href="#" class="category">Commodo consequat</a>
                                    <p class="price">$17.25</p>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="productbox">
                                    <a href="#">
                                        <img src="~/images/ladies/2.jpg" />
                                    </a>
                                    <a href="#" class="title-product">Ut wisi enim ad</a>
                                    <br />
                                    <a href="#" class="category">Commodo consequat</a>
                                    <p class="price">$17.25</p>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="productbox">
                                    <a href="#">
                                        <img src="~/images/ladies/3.jpg" />
                                    </a>
                                    <a href="#" class="title-product">Ut wisi enim ad</a>
                                    <br />
                                    <a href="#" class="category">Commodo consequat</a>
                                    <p class="price">$17.25</p>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="productbox">
                                    <a href="#">
                                        <img src="~/images/ladies/4.jpg" />
                                    </a>
                                    <a href="#" class="title-product">Ut wisi enim ad</a>
                                    <br />
                                    <a href="#" class="category">Commodo consequat</a>
                                    <p class="price">$17.25</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="form-group">
                        <div class="thumbnails-index">
                            <div class="col-md-3">
                                <div class="productbox">
                                    <a href="#">
                                        <img src="~/images/ladies/5.jpg" />
                                    </a>
                                    <a href="#" class="title-product">Ut wisi enim ad</a>
                                    <br />
                                    <a href="#" class="category">Commodo consequat</a>
                                    <p class="price">$17.25</p>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="productbox">
                                    <a href="#">
                                        <img src="~/images/ladies/6.jpg" />
                                    </a>
                                    <a href="#" class="title-product">Ut wisi enim ad</a>
                                    <br />
                                    <a href="#" class="category">Commodo consequat</a>
                                    <p class="price">$17.25</p>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="productbox">
                                    <a href="#">
                                        <img src="~/images/ladies/7.jpg" />
                                    </a>
                                    <a href="#" class="title-product">Ut wisi enim ad</a>
                                    <br />
                                    <a href="#" class="category">Commodo consequat</a>
                                    <p class="price">$17.25</p>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="productbox">
                                    <a href="#">
                                        <img src="~/images/ladies/8.jpg" />
                                    </a>
                                    <a href="#" class="title-product">Ut wisi enim ad</a>
                                    <br />
                                    <a href="#" class="category">Commodo consequat</a>
                                    <p class="price">$17.25</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h4 class="title-main">
        <span class="pull-left">
            <span class="title-first">Latest <strong class="title-second">Product</strong></span>
        </span>
        <span class="pull-right">
            <a href="#latestProduct" class="left" data-slide="prev">

            </a>
            <a href="#latestProduct" class="right" data-slide="next">

            </a>
        </span>
    </h4>
    <div class="carousel slide" id="latestProduct" data-ride="carousel">
        <div class="form-horizontal">
            <div class="carousel-inner">
                <div class="item active">
                    <div class="form-group">
                        <div class="col-md-3">
                            <div class="productbox">
                                <a href="#">
                                    <img src="~/images/cloth/bootstrap-women-ware1.jpg" />
                                </a>
                                <a href="#" class="title-product">Ut wisi enim ad</a>
                                <br />
                                <a href="#" class="category">Commodo consequat</a>
                                <p class="price">$17.25</p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="productbox">
                                <a href="#">
                                    <img src="~/images/cloth/bootstrap-women-ware2.jpg" />
                                </a>
                                <a href="#" class="title-product">Ut wisi enim ad</a>
                                <br />
                                <a href="#" class="category">Commodo consequat</a>
                                <p class="price">$17.25</p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="productbox">
                                <a href="#">
                                    <img src="~/images/cloth/bootstrap-women-ware3.jpg" />
                                </a>
                                <a href="#" class="title-product">Ut wisi enim ad</a>
                                <br />
                                <a href="#" class="category">Commodo consequat</a>
                                <p class="price">$17.25</p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="productbox">
                                <a href="#">
                                    <img src="~/images/cloth/bootstrap-women-ware4.jpg" />
                                </a>
                                <a href="#" class="title-product">Ut wisi enim ad</a>
                                <br />
                                <a href="#" class="category">Commodo consequat</a>
                                <p class="price">$17.25</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="form-group">
                        <div class="col-md-3">
                            <div class="productbox">
                                <a href="#">
                                    <img src="~/images/cloth/bootstrap-women-ware5.jpg" />
                                </a>
                                <a href="#" class="title-product">Ut wisi enim ad</a>
                                <br />
                                <a href="#" class="category">Commodo consequat</a>
                                <p class="price">$17.25</p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="productbox">
                                <a href="#">
                                    <img src="~/images/cloth/bootstrap-women-ware6.jpg" />
                                </a>
                                <a href="#" class="title-product">Ut wisi enim ad</a>
                                <br />
                                <a href="#" class="category">Commodo consequat</a>
                                <p class="price">$17.25</p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="productbox">
                                <a href="#">
                                    <img src="~/images/cloth/bootstrap-women-ware1.jpg" />
                                </a>
                                <a href="#" class="title-product">Ut wisi enim ad</a>
                                <br />
                                <a href="#" class="category">Commodo consequat</a>
                                <p class="price">$17.25</p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="productbox">
                                <a href="#">
                                    <img src="~/images/cloth/bootstrap-women-ware2.jpg" />
                                </a>
                                <a href="#" class="title-product">Ut wisi enim ad</a>
                                <br />
                                <a href="#" class="category">Commodo consequat</a>
                                <p class="price">$17.25</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-md-4">
                <div class="service">
                    <img src="~/images/feature_img_2.png" class="service-img" />
                    <h4>Modern <strong>Design</strong></h4>
                    <p>Lorem Ipsum is simply dummy text of the printing and printing industry unknown printer.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service">
                    <img src="~/images/feature_img_1.png" class="service-img" />
                    <h4>Free <strong>Shipping</strong></h4>
                    <p>Lorem Ipsum is simply dummy text of the printing and printing industry unknown printer.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service">
                    <img src="~/images/feature_img_3.png" class="service-img" />
                    <h4>24/7 Live <strong>Support</strong></h4>
                    <p>Lorem Ipsum is simply dummy text of the printing and printing industry unknown printer.</p>
                </div>
            </div>
        </div>
    </div>
    <h4 class="title-main">
        <span class="pull-left">
            <span class="title-first" style="font-weight:bold;">Manufacturer</span>
        </span>
    </h4>
    <div class="form-horizontal">
        <div class="form-group manufacturer">
            <div class="col-md-2">
                <a href="#">
                    <img src="~/images/clients/14.png" />
                </a>
            </div>
            <div class="col-md-2">
                <a href="#">
                    <img src="~/images/clients/35.png" />
                </a>
            </div>
            <div class="col-md-2">
                <a href="#">
                    <img src="~/images/clients/1.png" />
                </a>
            </div>
            <div class="col-md-2">
                <a href="#">
                    <img src="~/images/clients/2.png" />
                </a>
            </div>
            <div class="col-md-2">
                <a href="#">
                    <img src="~/images/clients/3.png" />
                </a>
            </div>
            <div class="col-md-2">
                <a href="#">
                    <img src="~/images/clients/4.png" />
                </a>
            </div>
        </div>
    </div>
    @*</div>*@
</section>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('.flexslider').flexslider({
                animation: "fade",

                controlNav: false,
                directionNav: true,

            })
        });
    </script>
}