@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>@ViewBag.Title.</h1>
    <p class="lead">@ViewBag.Message</p>
    <p><a href="/Products/" class="btn btn-primary btn-lg">Start shopping &raquo;</a></p>
</div>