
@{
    ViewBag.Title = "Inbox";
    Layout = "~/Views/AdminShared/_LayoutAdmin.cshtml";
}

<h2>Inbox</h2>
<div class="row inbox-color-margin">
    <div class="col-md-4">
        <div class="mail-profile">
            <div class="mail-image">
                <a href="#">
                    <img src="~/images/Admin/b3.png" />
                </a>
            </div>
            <div class="mail-title">
                <h5>
                    Name of the person
                </h5>
                <h6>
                    <a href="#">example@gmail.com</a>
                </h6>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="compose-block">
            <a href="#" data-target="#myModal" data-toggle="modal">Compose</a>
        </div>
        <div class="compose-bottom">
            <nav class="nav-sidebar">
                <ul class="nav tabs">
                    <li class="active">
                        <a href="#tab1" data-toggle="tab">Inbox</a>
                    </li>
                    <li class="">
                        <a href="#tab2" data-toggle="tab">Sent</a>
                    </li>
                    <li class="">
                        <a href="#tab3" data-toggle="tab">Important</a>
                    </li>
                    <li class="">
                        <a href="#tab4" data-toggle="tab">Draft</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="col-md-8 mailbox-content tab-content tab-content-in">
        <div class="tab-pane active" id="tab1">
            <div class="mail-border">
                <div class="mail-toolbar clearfix">
                    <div class="float-left">
                        <div class="btn btn-default">
                            <i class="fa fa-refresh"></i>
                        </div>
                        <div class="btn btn-default">
                            <i class="fa fa-cog"></i>
                        </div>
                    </div>
                    <div class="float-right">
                        <span>Showing 20 of 150</span>
                        <div class="btn-group">
                            <div class="btn btn-default">
                                <i class="fa fa-folder"></i>
                            </div>
                            <div class="btn btn-default">
                                <i class="fa fa-tags"></i>
                            </div>
                        </div>
                        <div class="btn-group">
                            <div class="btn btn-default">
                                <i class="fa fa-caret-left"></i>
                            </div>
                            <div class="btn btn-default">
                                <i class="fa fa-caret-right"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <td>
                                <input type="checkbox" />
                            </td>
                            <td>
                                <i class="fa fa-star"></i>
                            </td>
                            <td>Google</td>
                            <td>Lorem Ipsum</td>
                            <td>
                                <i class="fa fa-paperclip"></i>
                            </td>
                            <td>12 March</td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox" />
                            </td>
                            <td>
                                <i class="fa fa-star"></i>
                            </td>
                            <td>Google</td>
                            <td>Lorem Ipsum</td>
                            <td>
                                <i class="fa fa-paperclip"></i>
                            </td>
                            <td>12 March</td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox" />
                            </td>
                            <td>
                                <i class="fa fa-star"></i>
                            </td>
                            <td>Google</td>
                            <td>Lorem Ipsum</td>
                            <td>
                                <i class="fa fa-paperclip"></i>
                            </td>
                            <td>12 March</td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox" />
                            </td>
                            <td>
                                <i class="fa fa-star"></i>
                            </td>
                            <td>Google</td>
                            <td>Lorem Ipsum</td>
                            <td>
                                <i class="fa fa-paperclip"></i>
                            </td>
                            <td>12 March</td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox" />
                            </td>
                            <td>
                                <i class="fa fa-star"></i>
                            </td>
                            <td>Google</td>
                            <td>Lorem Ipsum</td>
                            <td>
                                <i class="fa fa-paperclip"></i>
                            </td>
                            <td>12 March</td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox" />
                            </td>
                            <td>
                                <i class="fa fa-star"></i>
                            </td>
                            <td>Google</td>
                            <td>Lorem Ipsum</td>
                            <td>
                                <i class="fa fa-paperclip"></i>
                            </td>
                            <td>12 March</td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox" />
                            </td>
                            <td>
                                <i class="fa fa-star"></i>
                            </td>
                            <td>Google</td>
                            <td>Lorem Ipsum</td>
                            <td></td>
                            <td>12 March</td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox" />
                            </td>
                            <td>
                                <i class="fa fa-star"></i>
                            </td>
                            <td>Google</td>
                            <td>Lorem Ipsum</td>
                            <td>
                                <i class="fa fa-paperclip"></i>
                            </td>
                            <td>12 March</td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox" />
                            </td>
                            <td>
                                <i class="fa fa-star"></i>
                            </td>
                            <td>Google</td>
                            <td>Lorem Ipsum</td>
                            <td></td>
                            <td>12 March</td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox" />
                            </td>
                            <td>
                                <i class="fa fa-star"></i>
                            </td>
                            <td>Google</td>
                            <td>Lorem Ipsum</td>
                            <td>
                                <i class="fa fa-paperclip"></i>
                            </td>
                            <td>12 March</td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox" />
                            </td>
                            <td>
                                <i class="fa fa-star"></i>
                            </td>
                            <td>Google</td>
                            <td>Lorem Ipsum</td>
                            <td>
                                <i class="fa fa-paperclip"></i>
                            </td>
                            <td>12 March</td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox" />
                            </td>
                            <td>
                                <i class="fa fa-star"></i>
                            </td>
                            <td>Google</td>
                            <td>Lorem Ipsum</td>
                            <td>
                                <i class="fa fa-paperclip"></i>
                            </td>
                            <td>12 March</td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox" />
                            </td>
                            <td>
                                <i class="fa fa-star"></i>
                            </td>
                            <td>Google</td>
                            <td>Lorem Ipsum</td>
                            <td></td>
                            <td>12 March</td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox" />
                            </td>
                            <td>
                                <i class="fa fa-star"></i>
                            </td>
                            <td>Google</td>
                            <td>Lorem Ipsum</td>
                            <td></td>
                            <td>12 March</td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox" />
                            </td>
                            <td>
                                <i class="fa fa-star"></i>
                            </td>
                            <td>Google</td>
                            <td>Lorem Ipsum</td>
                            <td>
                                <i class="fa fa-paperclip"></i>
                            </td>
                            <td>12 March</td>
                        </tr>



                    </tbody>
                </table>

            </div>
        </div>
        <div class="tab-pane" id="tab2">
            <div class="mail-border">
                <div class="mail-toolbar clearfix">
                    <div class="float-left">
                        <div class="btn btn-default">
                            <i class="fa fa-refresh"></i>
                        </div>
                        <div class="btn btn-default">
                            <i class="fa fa-cog"></i>
                        </div>
                    </div>
                    <div class="float-right">
                        <span>Showing 20 of 150</span>
                        <div class="btn-group">
                            <div class="btn btn-default">
                                <i class="fa fa-folder"></i>
                            </div>
                            <div class="btn btn-default">
                                <i class="fa fa-tags"></i>
                            </div>
                        </div>
                        <div class="btn-group">
                            <div class="btn btn-default">
                                <i class="fa fa-caret-left"></i>
                            </div>
                            <div class="btn btn-default">
                                <i class="fa fa-caret-right"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <td>
                                <input type="checkbox" />
                            </td>
                            <td>
                                <i class="fa fa-star"></i>
                            </td>
                            <td>Microsoft</td>
                            <td>Lorem Ipsum</td>
                            <td>
                                <i class="fa fa-paperclip"></i>
                            </td>
                            <td>12 March</td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox" />
                            </td>
                            <td>
                                <i class="fa fa-star"></i>
                            </td>
                            <td>Google</td>
                            <td>Lorem Ipsum</td>
                            <td>
                                <i class="fa fa-paperclip"></i>
                            </td>
                            <td>12 March</td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox" />
                            </td>
                            <td>
                                <i class="fa fa-star"></i>
                            </td>
                            <td>Google</td>
                            <td>Lorem Ipsum</td>
                            <td>
                                <i class="fa fa-paperclip"></i>
                            </td>
                            <td>12 March</td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox" />
                            </td>
                            <td>
                                <i class="fa fa-star"></i>
                            </td>
                            <td>Google</td>
                            <td>Lorem Ipsum</td>
                            <td>
                                <i class="fa fa-paperclip"></i>
                            </td>
                            <td>12 March</td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox" />
                            </td>
                            <td>
                                <i class="fa fa-star"></i>
                            </td>
                            <td>Google</td>
                            <td>Lorem Ipsum</td>
                            <td>
                                <i class="fa fa-paperclip"></i>
                            </td>
                            <td>12 March</td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox" />
                            </td>
                            <td>
                                <i class="fa fa-star"></i>
                            </td>
                            <td>Google</td>
                            <td>Lorem Ipsum</td>
                            <td>
                                <i class="fa fa-paperclip"></i>
                            </td>
                            <td>12 March</td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox" />
                            </td>
                            <td>
                                <i class="fa fa-star"></i>
                            </td>
                            <td>Google</td>
                            <td>Lorem Ipsum</td>
                            <td></td>
                            <td>12 March</td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox" />
                            </td>
                            <td>
                                <i class="fa fa-star"></i>
                            </td>
                            <td>Google</td>
                            <td>Lorem Ipsum</td>
                            <td>
                                <i class="fa fa-paperclip"></i>
                            </td>
                            <td>12 March</td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox" />
                            </td>
                            <td>
                                <i class="fa fa-star"></i>
                            </td>
                            <td>Google</td>
                            <td>Lorem Ipsum</td>
                            <td></td>
                            <td>12 March</td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox" />
                            </td>
                            <td>
                                <i class="fa fa-star"></i>
                            </td>
                            <td>Google</td>
                            <td>Lorem Ipsum</td>
                            <td>
                                <i class="fa fa-paperclip"></i>
                            </td>
                            <td>12 March</td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox" />
                            </td>
                            <td>
                                <i class="fa fa-star"></i>
                            </td>
                            <td>Google</td>
                            <td>Lorem Ipsum</td>
                            <td>
                                <i class="fa fa-paperclip"></i>
                            </td>
                            <td>12 March</td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox" />
                            </td>
                            <td>
                                <i class="fa fa-star"></i>
                            </td>
                            <td>Google</td>
                            <td>Lorem Ipsum</td>
                            <td>
                                <i class="fa fa-paperclip"></i>
                            </td>
                            <td>12 March</td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox" />
                            </td>
                            <td>
                                <i class="fa fa-star"></i>
                            </td>
                            <td>Google</td>
                            <td>Lorem Ipsum</td>
                            <td></td>
                            <td>12 March</td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox" />
                            </td>
                            <td>
                                <i class="fa fa-star"></i>
                            </td>
                            <td>Google</td>
                            <td>Lorem Ipsum</td>
                            <td></td>
                            <td>12 March</td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox" />
                            </td>
                            <td>
                                <i class="fa fa-star"></i>
                            </td>
                            <td>Google</td>
                            <td>Lorem Ipsum</td>
                            <td>
                                <i class="fa fa-paperclip"></i>
                            </td>
                            <td>12 March</td>
                        </tr>



                    </tbody>
                </table>

            </div>
        </div>
        <div class="tab-pane" id="tab3">
            <div class="mail-border">
                <div class="mail-toolbar clearfix">
                    <div class="float-left">
                        <div class="btn btn-default">
                            <i class="fa fa-refresh"></i>
                        </div>
                        <div class="btn btn-default">
                            <i class="fa fa-cog"></i>
                        </div>
                    </div>
                    <div class="float-right">
                        <span>Showing 20 of 150</span>
                        <div class="btn-group">
                            <div class="btn btn-default">
                                <i class="fa fa-folder"></i>
                            </div>
                            <div class="btn btn-default">
                                <i class="fa fa-tags"></i>
                            </div>
                        </div>
                        <div class="btn-group">
                            <div class="btn btn-default">
                                <i class="fa fa-caret-left"></i>
                            </div>
                            <div class="btn btn-default">
                                <i class="fa fa-caret-right"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <td>
                                <input type="checkbox" />
                            </td>
                            <td>
                                <i class="fa fa-star"></i>
                            </td>
                            <td>Apple</td>
                            <td>Lorem Ipsum</td>
                            <td>
                                <i class="fa fa-paperclip"></i>
                            </td>
                            <td>12 March</td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox" />
                            </td>
                            <td>
                                <i class="fa fa-star"></i>
                            </td>
                            <td>Google</td>
                            <td>Lorem Ipsum</td>
                            <td>
                                <i class="fa fa-paperclip"></i>
                            </td>
                            <td>12 March</td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox" />
                            </td>
                            <td>
                                <i class="fa fa-star"></i>
                            </td>
                            <td>Google</td>
                            <td>Lorem Ipsum</td>
                            <td>
                                <i class="fa fa-paperclip"></i>
                            </td>
                            <td>12 March</td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox" />
                            </td>
                            <td>
                                <i class="fa fa-star"></i>
                            </td>
                            <td>Google</td>
                            <td>Lorem Ipsum</td>
                            <td>
                                <i class="fa fa-paperclip"></i>
                            </td>
                            <td>12 March</td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox" />
                            </td>
                            <td>
                                <i class="fa fa-star"></i>
                            </td>
                            <td>Google</td>
                            <td>Lorem Ipsum</td>
                            <td>
                                <i class="fa fa-paperclip"></i>
                            </td>
                            <td>12 March</td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox" />
                            </td>
                            <td>
                                <i class="fa fa-star"></i>
                            </td>
                            <td>Google</td>
                            <td>Lorem Ipsum</td>
                            <td>
                                <i class="fa fa-paperclip"></i>
                            </td>
                            <td>12 March</td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox" />
                            </td>
                            <td>
                                <i class="fa fa-star"></i>
                            </td>
                            <td>Google</td>
                            <td>Lorem Ipsum</td>
                            <td></td>
                            <td>12 March</td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox" />
                            </td>
                            <td>
                                <i class="fa fa-star"></i>
                            </td>
                            <td>Google</td>
                            <td>Lorem Ipsum</td>
                            <td>
                                <i class="fa fa-paperclip"></i>
                            </td>
                            <td>12 March</td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox" />
                            </td>
                            <td>
                                <i class="fa fa-star"></i>
                            </td>
                            <td>Google</td>
                            <td>Lorem Ipsum</td>
                            <td></td>
                            <td>12 March</td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox" />
                            </td>
                            <td>
                                <i class="fa fa-star"></i>
                            </td>
                            <td>Google</td>
                            <td>Lorem Ipsum</td>
                            <td>
                                <i class="fa fa-paperclip"></i>
                            </td>
                            <td>12 March</td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox" />
                            </td>
                            <td>
                                <i class="fa fa-star"></i>
                            </td>
                            <td>Google</td>
                            <td>Lorem Ipsum</td>
                            <td>
                                <i class="fa fa-paperclip"></i>
                            </td>
                            <td>12 March</td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox" />
                            </td>
                            <td>
                                <i class="fa fa-star"></i>
                            </td>
                            <td>Google</td>
                            <td>Lorem Ipsum</td>
                            <td>
                                <i class="fa fa-paperclip"></i>
                            </td>
                            <td>12 March</td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox" />
                            </td>
                            <td>
                                <i class="fa fa-star"></i>
                            </td>
                            <td>Google</td>
                            <td>Lorem Ipsum</td>
                            <td></td>
                            <td>12 March</td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox" />
                            </td>
                            <td>
                                <i class="fa fa-star"></i>
                            </td>
                            <td>Google</td>
                            <td>Lorem Ipsum</td>
                            <td></td>
                            <td>12 March</td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox" />
                            </td>
                            <td>
                                <i class="fa fa-star"></i>
                            </td>
                            <td>Google</td>
                            <td>Lorem Ipsum</td>
                            <td>
                                <i class="fa fa-paperclip"></i>
                            </td>
                            <td>12 March</td>
                        </tr>



                    </tbody>
                </table>

            </div>
        </div>
        <div class="tab-pane" id="tab4">
            <div class="mail-border">
                <div class="mail-toolbar clearfix">
                    <div class="float-left">
                        <div class="btn btn-default">
                            <i class="fa fa-refresh"></i>
                        </div>
                        <div class="btn btn-default">
                            <i class="fa fa-cog"></i>
                        </div>
                    </div>
                    <div class="float-right">
                        <span>Showing 20 of 150</span>
                        <div class="btn-group">
                            <div class="btn btn-default">
                                <i class="fa fa-folder"></i>
                            </div>
                            <div class="btn btn-default">
                                <i class="fa fa-tags"></i>
                            </div>
                        </div>
                        <div class="btn-group">
                            <div class="btn btn-default">
                                <i class="fa fa-caret-left"></i>
                            </div>
                            <div class="btn btn-default">
                                <i class="fa fa-caret-right"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <td>
                                <input type="checkbox" />
                            </td>
                            <td>
                                <i class="fa fa-star"></i>
                            </td>
                            <td>Samsung</td>
                            <td>Lorem Ipsum</td>
                            <td>
                                <i class="fa fa-paperclip"></i>
                            </td>
                            <td>12 March</td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox" />
                            </td>
                            <td>
                                <i class="fa fa-star"></i>
                            </td>
                            <td>Google</td>
                            <td>Lorem Ipsum</td>
                            <td>
                                <i class="fa fa-paperclip"></i>
                            </td>
                            <td>12 March</td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox" />
                            </td>
                            <td>
                                <i class="fa fa-star"></i>
                            </td>
                            <td>Google</td>
                            <td>Lorem Ipsum</td>
                            <td>
                                <i class="fa fa-paperclip"></i>
                            </td>
                            <td>12 March</td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox" />
                            </td>
                            <td>
                                <i class="fa fa-star"></i>
                            </td>
                            <td>Google</td>
                            <td>Lorem Ipsum</td>
                            <td>
                                <i class="fa fa-paperclip"></i>
                            </td>
                            <td>12 March</td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox" />
                            </td>
                            <td>
                                <i class="fa fa-star"></i>
                            </td>
                            <td>Google</td>
                            <td>Lorem Ipsum</td>
                            <td>
                                <i class="fa fa-paperclip"></i>
                            </td>
                            <td>12 March</td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox" />
                            </td>
                            <td>
                                <i class="fa fa-star"></i>
                            </td>
                            <td>Google</td>
                            <td>Lorem Ipsum</td>
                            <td>
                                <i class="fa fa-paperclip"></i>
                            </td>
                            <td>12 March</td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox" />
                            </td>
                            <td>
                                <i class="fa fa-star"></i>
                            </td>
                            <td>Google</td>
                            <td>Lorem Ipsum</td>
                            <td></td>
                            <td>12 March</td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox" />
                            </td>
                            <td>
                                <i class="fa fa-star"></i>
                            </td>
                            <td>Google</td>
                            <td>Lorem Ipsum</td>
                            <td>
                                <i class="fa fa-paperclip"></i>
                            </td>
                            <td>12 March</td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox" />
                            </td>
                            <td>
                                <i class="fa fa-star"></i>
                            </td>
                            <td>Google</td>
                            <td>Lorem Ipsum</td>
                            <td></td>
                            <td>12 March</td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox" />
                            </td>
                            <td>
                                <i class="fa fa-star"></i>
                            </td>
                            <td>Google</td>
                            <td>Lorem Ipsum</td>
                            <td>
                                <i class="fa fa-paperclip"></i>
                            </td>
                            <td>12 March</td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox" />
                            </td>
                            <td>
                                <i class="fa fa-star"></i>
                            </td>
                            <td>Google</td>
                            <td>Lorem Ipsum</td>
                            <td>
                                <i class="fa fa-paperclip"></i>
                            </td>
                            <td>12 March</td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox" />
                            </td>
                            <td>
                                <i class="fa fa-star"></i>
                            </td>
                            <td>Google</td>
                            <td>Lorem Ipsum</td>
                            <td>
                                <i class="fa fa-paperclip"></i>
                            </td>
                            <td>12 March</td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox" />
                            </td>
                            <td>
                                <i class="fa fa-star"></i>
                            </td>
                            <td>Google</td>
                            <td>Lorem Ipsum</td>
                            <td></td>
                            <td>12 March</td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox" />
                            </td>
                            <td>
                                <i class="fa fa-star"></i>
                            </td>
                            <td>Google</td>
                            <td>Lorem Ipsum</td>
                            <td></td>
                            <td>12 March</td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox" />
                            </td>
                            <td>
                                <i class="fa fa-star"></i>
                            </td>
                            <td>Google</td>
                            <td>Lorem Ipsum</td>
                            <td>
                                <i class="fa fa-paperclip"></i>
                            </td>
                            <td>12 March</td>
                        </tr>



                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="myModal" data-role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal" type="button">&times;</button>
            </div>
            <div class="modal-body">
                @{ Html.RenderAction("Compose", "Mail");}
            </div>
        </div>
    </div>
</div>